.item {
	border: 1px solid #444;
	width: 600px;
	padding: 5px;
}

.store {
    display: inline-block; 
    vertical-align: top; 
    width: 700px	
}

.storeItem {
	border: 1px solid #bbb;
	display: inline-block;
	margin: 10px;
}

.button {
	background-color: blue;
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
	display: inline-block;
}

.button:hover {
	background-color: #88f;
}

.checklist {
	font-size: 24px;
	display: inline-block; 
	vertical-align: top;	
	position: fixed;
}
